<nav class="navbar">
    <div class="container">
        <div class="logo-wrapper d-flex align-items-center">
            <i class="material-icons md-48">auto_stories</i>
            <a class="navbar-brand" href={{ path('home') }}>
                <h1 class="title">e-<span>JOURNAL</span></h1>
            </a>
        </div>
    </div>
</nav>