* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    box-shadow: none;
}

html, body {
    min-height: 100vh;
    font-size: 10px;
    scroll-behavior: smooth;
    background-image: linear-gradient(to bottom, #fad4d8, #fadcdf, #fae3e6, #faebed, #faf3f4);
    background-repeat: no-repeat;
}