$color-violet: #bd4089;
$color-pink: #fad4d8;
$color-pink-hover: #F7ADB5;
$color-green: #99cea5;
$color-btn: #ffdf82;
$color-btn-hover: #FDD050;
$color-form-bg: #866e96;
$color-form-font: #e6e1e9;
$color-form-btn: #ffa381;
$color-form-btn-hover: #FF8E65;
$color-font: #333333;