$color-violet: #bd4089;
$color-cornflower: #2b4570;
$color-pink: #fad4d8;
$color-pink-hover: #F7ADB5;
$color-timber: #dbd3c9;
$color-bg: #DFDDD9;
$color-form-bg: #866e96;
$color-form-font: #e6e1e9;
$color-form-btn: #ffa381;
$color-form-btn-hover: #FF8E65;