{% extends 'base.html.twig' %}

{% block body %}
    <section class="section section-posts">
        <div class="posts-wrapper">
            <div class="card p-5 text-center">
                <h5 class="card-title pb-5">Add new entry</h5>
                <div class="entry-link-wrapper">
                    <a href="" class="card-link entry-add-btn">&plus;</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
